  <h2><%= "Delete entry " +  @entry.title + "?" %></h2>
  <p><%= @entry.date %></p>
  <p><%= @entry.contents %></p>
  <p><%= link_to("Remove this entry?", :method => :destroy, :confirm => 'Are you sure?') %></p>
