<% provide(:title, "Welcome") %>
<p>
<h1>Welcome to my micro blog</h1>
    <p>Ketelbinkjes haperdashery.</p></ br>
    <p><%= buildWelcomeText() %></p>
    <p>
        My favourite web threads are:
        <div>
            <% for url, name in @websites %>
                <li><a href="<%= url %>"><%= name %></a></li>
            <% end %>
        </div>
    </p>
    </ br>
    <p><%= link_to("View all entries", entries_path) %></p>
    <img src="http://railsgirls.com/images/rg-warsaw.png" />
    
</p>
